* {
  font-family: sans-serif;
}
#root {
  text-align: center;
  height: 100vh;
}

#div-input {
  font-size: 1.4em;
}

input {
  font-size: inherit;
}

.divinput {
  font-size: 1.4em;
  flex-direction: column;
  justify-content: center;
}
.file-input {
  border: 1px solid gray;
}

#divlefthdr {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25px;
  border: 1px solid gray;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.lfloat {
  float: left;
}
.btn-edit {
  float: right;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid gray;
  position: relative;
  bottom: 1em;
}

#btn-modal-cancel, #btn-modal-save {
  margin-bottom: 5px;
  clear: both;
  border: 1px solid gray;
}

.srcButtons {
  display: flex;
  list-style: none;
}
.btnsource {
  flex-direction: row;
  margin: 5px;
}

.rfloat {
  float: right;
}

.divalt {
  border: 1px solid gray;
}
.save_button {
  position: absolute;
  padding: 2px 5px;
}


h1, nh2, h3 {
  display: inline-block;
}

h4 {
float: right;
position: relative;
right: 5em;
font-size: 12px;
}

#img-modal {
  width: 90%;
}

#ta-alt {
  width: 90%;
  height: 10em;
}
body {
  margin: 0px;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

#imgpage {
  display: none;
}

#imgcvs {
  width: 100%;
  height: 100%;
}

#imgpage, #imgcvs {
  position:relative;
  top: 0;
  left: 0;
}


label {
  padding-left:2em;
  padding-right:2em;
}

ul {
  padding: 2em 0;
  font-size: .6em;
}

.div-radio {
  justify-content: center;
  width:50%; 
}
#App {
  height: 98vh;
  width: 100vw;
}

#teimain {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.card {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}
#divace {
  flex-direction: column;
  display: none;
}
#divimgcanvas {
  width: 100%;
}
#divimg {/
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#pgurl {
  margin: 5px;
  border: 1px solid gray;
  border-radius: 4px;
}

.half {
  overflow: hidden;
}

canvas {
  height: 100%;
}

#divpreview {
  border: 1ps solid orange;
}
#divimglist {
  border: 1px solid green;
  overflow: auto;
}

iframe {
  height: 100%;
  width: 100%;
}


.previmg img {
  float: left;
  margin: 2px;
}

img {
  min-height: 80px;
  max-height: 200px;
  max-width: 300px;
}
.previmg {
  margin: 2px;
  max-width: 70%;
  max-height: 70%;
}

.alt-block {
  border: 2px solid gray;
  border-radius: 4px;
  background-color: light-yellow;
  margin: 4px;
}

.div-img-item {
  width: 100%;
  min-height: 30px;
}

.container {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
}

#modaltext {
  width: 100%;
}

.div-alt {
  border: 1px solid gray;
}
flexible-modal {
  position: absolute;
  z-index: 1;
  border: 1px solid #ccc;
  background: white;
}
.flexible-modal-mask {
  position: fixed;
  height: 100%;
  background: rgba(55, 55, 55, 0.6);
  top:0;
  left:0;
  right:0;
  bottom:0;
} 
